.message-error {
  color: red;
}
.inline-input {
  display: inline-block;
  border: none;
  border-bottom: 1px dashed gray;
  width: 150px;
}
.inline-input:focus {
  outline: none;
  border-bottom: 1px solid darkblue;
}
.error-message {
  color: red;
  font-weight: 600;
}

.inline-input.valid{
  border-bottom-color: green ;
}
.inline-input.invalid{
  border-bottom-color: red ;
}

.slideIn{
  opacity: 0;
  height: 0;
  transition: ease-in .5s all;
  transform: translateX(-200px);
}

.slideIn.animated{
  height: auto;
  opacity: 1;
  transform: translateX(0px);
}